## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s= "Hi there Sam!"
x = s.split(" ")
print(x)

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [3]:
planet="Earth"
diameter=12742
print("The diameter of {} is {} Kilometers." .format(planet,diameter))

The diameter of Earth is 12742 Kilometers.

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
a = lst[3][1][2];
print(a)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [13]:
#Tuple is immutable whereas list is mutable.
#operations in tuple are safe and consumes less memory as compared to list.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [14]:
def getDomain(email):
  return email.split('@')[-1]
getDomain('namgail@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def wheredog(s):
  return 'dog' in s.lower().split()

In [16]:
wheredog('Is dog is here')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [17]:
def countdog(s):
  count=0
  for word in s.lower().split():
    if word == 'dog':
      count += 2
      return count

In [18]:
countdog('here also is a dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [22]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [24]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'No Ticket'
   
    else:
        return 'Small Ticket'

In [25]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [26]:
salary = [2000,3000,5000,70000,8000]
sum = 0
for sal in salary:
  sum += sal;
  print(sum)

2000
5000
10000
80000
88000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [27]:
dict1={'EMP ID':15, 'EMP NAME' : 'NAMGAIL DORJAY', 'BASICPAY' : 80000}
dict2={'DEPT NAME':'IT', 'DEPT ID' :2}
dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'EMP ID': 15, 'EMP NAME': 'NAMGAIL DORJAY', 'BASICPAY': 80000, 'DEPT NAME': 'IT', 'DEPT ID': 2}